.study-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
    max-height: 900px; 
    overflow-y: auto; 
    padding: 20px;
    background-color: rgb(23, 30, 41);
    border-radius: 5px;
}